<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="dist/#">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTgwXxyFeZ8MfAdUoo0Kw43jR2Y7DzdF9aJN96Ic3G2QmkGnJZ7" width="30" height="30" alt="">Home
  </a>
  <div class="navbar-nav">
    <li>
      <a class="nav-item nav-link" [routerLink]="['consultar']" routerLinkActive="active">Consultar Productos</a>
    </li>
    <a class="nav-item nav-link" [routerLink]="['consultarPedidos']" routerLinkActive="active">Consultar Pedidos</a>
  </div>
</nav>